[submodule "lib/plugins/noarch/tcl/topotools1.8"]
	path = lib/plugins/noarch/tcl/topotools1.8
	url = git@github.com:akohlmey/topotools.git
[submodule "lib/plugins/noarch/tcl/pbctools3.0"]
	path = lib/plugins/noarch/tcl/pbctools3.0
	url = git@github.com:jotelha/pbctools.git
